# Document retrieval from Wikipedia data

In [2]:
import turicreate

In [3]:
people = turicreate.SFrame('../datasets/people_wiki.sframe')

In [14]:
elton_john = people[people['name'] == 'Elton John']
elton_john['word_count'] = turicreate.text_analytics.count_words(elton_john['text'])
elton_john.stack('word_count',new_column_name=['word','count']).sort('count', ascending=False)[0:3]['word']

dtype: str
Rows: 3
['the', 'in', 'and']

In [56]:
people = turicreate.SFrame('../datasets/people_wiki.sframe')
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [57]:
elton_john = people[people['name'] == 'Elton John']
elton_john[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf', ascending=False)[0:3]

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [80]:
victoria_beckham = people[people['name'] == 'Victoria Beckham']
victoria_beckham[['tfidf']].stack('tfidf',new_column_name=['word','tfidf'])

Columns:
	word	str
	tfidf	float

Rows: 175

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|     week    | 3.57252509903 |
|     york    | 1.70104754476 |
|     show    | 2.16890135295 |
|    ticket   | 5.14295097219 |
|     now     | 1.96695239252 |
|     pack    | 5.86850157681 |
|     who     | 0.90989521898 |
|     won     | 1.38364006832 |
| significant | 3.76247058094 |
|    saying   | 4.09385374805 |
+-------------+---------------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [81]:
paul_mccartney = people[people['name'] == 'Paul McCartney']
paul_mccartney[['tfidf']].stack('tfidf',new_column_name=['word','tfidf'])

Columns:
	word	str
	tfidf	float

Rows: 162

Data:
+-----------+---------------+
|    word   |     tfidf     |
+-----------+---------------+
|  children | 2.42528531239 |
|    five   | 2.21373017928 |
|  married  | 2.32797626172 |
|   father  | 2.53865227594 |
| education |  2.4487155642 |
|    land   | 3.95652247752 |
|  hunting  | 6.16621382362 |
|   rights  |  3.0667756283 |
|  subjects | 4.35713213579 |
| charities | 5.40676556324 |
+-----------+---------------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [60]:
turicreate.distances.cosine(elton_john['tfidf'][0], victoria_beckham['tfidf'][0])

0.9567006376655429

In [61]:
turicreate.distances.cosine(elton_john['tfidf'][0], paul_mccartney['tfidf'][0])

0.8250310029221779

In [72]:
knn_model_tfidf = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [73]:
knn_model_tfidf.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 33ms         |

| Done         |         | 100         | 323ms        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [74]:
knn_model_tfidf.query(victoria_beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9ms          |

| Done         |         | 100         | 242ms        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [75]:
knn_model_word_count = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [78]:
knn_model_word_count.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 2ms          |

| Done         |         | 100         | 233ms        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [79]:
knn_model_word_count.query(victoria_beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 0us          |

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

| Done         |         | 100         | 263ms        |

+--------------+---------+-------------+--------------+